In [11]:
import pandas as pd
from numpy.random import choice
from pathlib import Path
import numpy as np

In [3]:
DATA = Path.cwd().parent / "data"

In [7]:
kepler_37 = pd.read_csv(DATA / "Kepler-37.csv")

In [9]:
kepler_37.head()

         time      flux  flux_err
0  120.539519  1.000007  0.000017
1  120.559953  0.999922  0.000017
2  120.580387  0.999940  0.000017
3  120.600822  0.999978  0.000017
4  120.621256  0.999945  0.000017

## Sort points to run the bls and compare the results

In [13]:
lis_num_sort = np.arange(500, 15001, 500)
lis_num_sort

array([  500,  1000,  1500,  2000,  2500,  3000,  3500,  4000,  4500,
        5000,  5500,  6000,  6500,  7000,  7500,  8000,  8500,  9000,
        9500, 10000, 10500, 11000, 11500, 12000, 12500, 13000, 13500,
       14000, 14500, 15000])

In [16]:
IDX_SORT = DATA / "IDX_SORT"

In [18]:
for qtd in lis_num_sort:
    lis_idx = np.arange(0, len(kepler_37))
    lis_prob = np.ones(shape=len(lis_idx), dtype=lis_idx.dtype) / len(lis_idx)
    idx_sort = choice(lis_idx, size=qtd, replace=False, p=lis_prob)
    idx_sort.sort()
    FILE = IDX_SORT / f"idx_sort_{qtd}.csv"
    pd.DataFrame(idx_sort).to_csv(FILE, index=False, header=False)

## Create lc with the points sorted by

In [19]:
for qtd in lis_num_sort:
    FILE = IDX_SORT / f"idx_sort_{qtd}.csv"
    idx_sort = pd.read_csv(FILE, header=None).values.flatten()
    lc_reduced = kepler_37.iloc[idx_sort]
    LC_REDUCED = DATA / "LC_REDUCED"
    pd.DataFrame(lc_reduced).to_csv(LC_REDUCED / f"lc_reduced_{qtd}.csv", index=False)